<html>
<head>
    <title>Battleship Login</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<h1>Battleship!</h1>

    <h3 class="error"> An error has been made. <b><%=error%></b> </h3>
    
</body>
</html>