<html>
<head>
    <title>Battleship</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<h1>Battleship</h1>

<h2>Welcome, <%=name%></h2>

<button id="findgame"> Find Game </button>


<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>
</html>