<html>
<head>
    <title>Battleship</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<h1>Battleship!</h1>

<% if(retry) { %>
    <h3 class="error"> Username not avalable </h3>
<% } %>

<form action="/signup" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    Password: <input type="password" name="password2"><br>
    <input type="submit" value="signup">
</form>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/script.js"></script>
</body>
</html>