body {
    background: darkgray;
    
}

div#main {
    margen:10px;
    boardr: 4px outset gray;
    background: gray;
    
}

.error {
	color: red;
}

table.board {
    margin: auto;
    background: black;
}
table.board td{
    width:  50px;
    height: 50px;
    background: blue;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

table.board td.hit {
    background: red;
}